@using PruebaProyecto.Models
@model IEnumerable<Productos>
@{
    ViewBag.Title = "Inventario";
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    input {
        width: 200px;
        higth: 100px;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        background-color: #fff;
    }

        table th {
            background-color: #B8DBFD;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }

        table, table table td {
            border: 0px solid #ccc;
        }
</style>
<h2>Mostrarinventario</h2>
<hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Id </th>
            <th>Nombre Producto</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Precio Original</th>
        </tr>
        @foreach (Productos customer in Model)
        {
            <tr>
                <td>@customer.Id_Producto</td>
                <td>@customer.Nombre_Producto</td>
                <td>@customer.Precio_Producto</td>
                <td>@customer.ID_Marca</td>
                <td>@customer.Color_Producto</td>
                <td>@customer.Descripcion_Producto</td>
                <td>@customer.Stock_Producto</td>
                <td>@customer.ID_Categoria</td>
                <td>@customer.PrecioOriginal_Producto</td>
            </tr>
        }
    </table>
